.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container-drag {
  text-align: center;
  display: inline-block;
}

.todos {
  position: absolute;
  width: 150px;
  height: 100vh;
  left: 0;
  top: 10;
  background-color: #EEEEEE;
  border-right: 1px dotted;

  
}

.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #E0E0E0;
  width:100%;
}

.task-header {
  display: inline-block;
  background-color: skyblue;
  width:100%;

    top: 0px;
    position: relative;
    max-width: 262px;
    min-width: 262px;
    min-height: 82px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 20px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
    box-shadow: 0px 4px 4px rgba(38, 38, 38, 0.2);
}

.dones {
  position: absolute;
  width: 150px;
  height: 100vh;
  right: 0;
  top: 10;
  background-color: #9E9E9E;
  border-left: 1px dotted;

  
}

.draggable {
  height: 100px;
  background-color: yellow;
 margin-top: 10px;
  line-height: 5em;

  top: 0px;
  position: relative;
  max-width: 262px;
  min-width: 262px;
  min-height: 82px;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 20px 24px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
  box-shadow: 0px 4px 4px rgba(38, 38, 38, 0.2);
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



.ajs-message.ajs-custom {
   color: #fff;  background-color: #FFB500;  border-color: #31708f; border-radius:6px; 
  }

  @import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
  * {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
 
  
 
 
 
  
  .go-corner {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #FFB500;
    border-radius: 0 4px 0 32px;
  }

  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  
  
  .card2 {
   text-align: center;
   display: inline-block;
   align-items: center;
   
    top: 0px;
    position: relative;
    max-width: 262px;
    min-width: 262px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 20px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
    box-shadow: 0px 4px 4px rgba(38, 38, 38, 0.2);
  }
  .card2:hover {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: FFB500;
  }
  .card2:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #FFB500;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.15s ease-out;
    transition: -webkit-transform 0.15s ease-out;
    transition: transform 0.15s ease-out;
    transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
  }
  .card2:hover:before {
    -webkit-transform: scale(2.15);
            transform: scale(2.15);
  }

  .listItems{
    text-align: center;
  }

  .card2 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  body { 
    background: url("https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1443527216320-7e744084f5a7-1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Baloo Tamma 2', cursive;
  }

  .leftCard{
    height:500px;
    widows: auto;
  }

  .board {
    background:linear-gradient(135deg, #0079bf, #5067c5);
   
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 20px rgba(74,115,159,0.29);
    cursor: default;
    font-size: 1rem;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 18px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.laptop-style{
  border-radius: 2rem;
    box-shadow: 0 10px 20px rgba(74,115,159,0.29);
}

small, .small {
  font-size: 80%;
  font-weight: 400;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.boardsPage-style{
  text-align: center;
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  color:white;

  background-color: #FFB500;
  width: fit-content;
  border-bottom-left-radius: 65px;
  border-bottom-right-radius: 65px;

 
}

.trelloPage-style{
  text-align: center;
  display: inline-block;
 
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  color:white;
  background-color: #FFB500;
 
  border-bottom-left-radius: 65px;
  border-bottom-right-radius: 65px;

 
}

.profile{
  text-align: center;
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: 60px;
}

  
  